[2021-04-27 05:11] AlexCodeLive opened #1 "Can not find the S. Token like previous Lynda downloader"
@ahmedayman4a I can not find the security token. Please make quick documentation just a few instructions which means helps a lot.
![image](https://user-images.githubusercontent.com/82458001/116188395-24fddc00-a749-11eb-8551-fe42cb4f2980.png)

[2021-04-27 10:09] ahmedayman4a commented on #1
The authentication token for linkedin learning is called `li_at`

[2021-04-27 12:04] AlexCodeLive commented on #1
@ahmedayman4a Well, you did a great job. Everything works fine. Thank you. You are a legend you just proved it. keep it up

[2021-05-07 18:39] mahdisky opened #2 "my account has been restricted"
after login linkdin show message
 "Your account has been restricted"

i used after this app

[2021-05-07 19:54] ahmedayman4a commented on #2
Might be a coincidence. Are you using an organization account such as a linkedin learning account provided by a library or a college?

[2021-05-07 20:56] mahdisky commented on #2
i get private account

[2021-05-07 22:56] ahmedayman4a commented on #2
Did you download a lot of courses before your account got restricted? How many?

[2021-05-08 17:50] ahmedayman4a commented on #2
That's odd. I have downloaded like 20 or more and nothing ever happened. Can u contact [linkedin support](https://www.linkedin.com/help/linkedin/ask/gri) and ask them why your account got restricted. Maybe then can help you lift this restriction.

[2021-05-12 07:47] valenkovsky opened #3 "Subtitles don't work"
Are subtitles supported? It doesn't download it

[2021-05-12 08:55] ahmedayman4a commented on #3
Subtitles should be downloaded. Which course didn't the subtitles get downloaded for?

[2021-05-12 09:27] valenkovsky commented on #3
It doesn't download subtitles. I checked for several courses. For instance:
https://www.linkedin.com/learning/pandas-essential-training
I use Windows 10

[2021-05-12 09:35] mahdisky commented on #3
hi bro
its very good, thnks,
but subtitle doesn't work,
not download subtitle
any course

[2021-05-12 10:06] ahmedayman4a commented on #3
Ok, Expect a fix later today

[2021-05-12 13:33] bestlong888 commented on #3
The subtitle was working fine with 0.1 beta, but it's not working with the latest gui v1.0

[2021-05-12 15:56] valenkovsky commented on #3
I see you've made a fix, can you make a release, please, or give instructions how to build it on Windows with Visual Studio

[2021-05-12 16:45] ahmedayman4a commented on #3
Bug fixed with patch [v1.1](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/releases/tag/v1.1). If you already have the LinkedIn Learning Courses Downloader installed, you should be prompted for an update the next time you open the app. Start the update and the patch will be applied automatically.

[2021-05-12 16:45] #3 closed

[2021-05-13 12:08] need4android-com opened #4 "not working in linux"
When trying to run it in centos7 it's aborting with this error message:
Process terminated. Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.
   at System.Environment.FailFast(System.String)
   at System.Globalization.GlobalizationMode.GetGlobalizationInvariantMode()
   at S

[2021-05-13 17:43] HyperionWorld opened #5 "Bitdefender antivirus not allowing to install"
Antivirus detecting this software and showing as malware.
Is this software safe to install? Is this a malware?

[2021-05-13 20:53] ahmedayman4a commented on #5
Bitdefender flags it but it is a false positive. This app is safe. It is open-source so you can see the code for yourself. You can also use decompiling software like [dotpeek](https://www.jetbrains.com/decompiler/). This decompiler will enable you to see the code that you run on your pc. If you want instrunctions on how to decompile the exe, tell me.

You can even run your own version of the code,

[2021-05-17 15:04] notepad185 opened #6 "Linkedin-Learning-Courses-Downloader"
Hi Im afraid the Linkedin-Learning-Courses-Downloader
at https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader doesn't work
made sure I had the correct token etc in all three browsers but it cant download the Video. Maybe linked-in have changed something?
any chance you can fix it?

thanks for all your effort
best wishes R.

[2021-05-17 16:02] ahmedayman4a commented on #4
I don't have centos7 but I will try looking for this issue on google

[2021-05-17 16:11] ahmedayman4a commented on #6
I have just tried running the app and it works fine.
What operating system are you using?
If you are on windows, go to `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` and upload the most recent log files here

[2021-05-17 17:53] notepad185 commented on #6
Must be something im doing wrong?

[log20210517.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/6495806/log20210517.txt)

Thanks for your help
R

[2021-05-19 09:12] notepad185 commented on #6
 Hi Ahmed I sent the log file to you on github.Just wondered if you are able to help me get it working. Kindest regards Ray On 17 May 2021 17:11, Ahmed Ayman ***@***.***> wrote:
I have just tried running the app and it works fine.
What operating system are you using?
If you are on windows, go to %localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs and upload the most recent log files

[2021-05-19 09:57] ahmedayman4a commented on #6
It seems that the problem is that the extractor can't access one or more videos of this course.

- Can you make sure that you can access the videos on linkedin-learning with this account?
- How did you extract the authentication token? With the extract token button or manually?
- What kind of account do you have? Do you have an organization account like a library account or a normal private accoun

[2021-05-19 11:19] ahmedayman4a commented on #6
Yes, this downloader doesn't bypass the need for an account. Contact me at ahmedayman4a77@gmail.com. I have an extra account I don't use.

[2021-05-19 11:19] #6 closed

[2021-05-19 11:20] #5 closed

[2021-05-31 10:45] him1532 opened #7 "Application does not execute"
I followed the instructions in the Read.me file but got the following message.

`The application to execute does not exist: '/private/var/folders/s9/w16trxt88v56j0008k8dr4p00000gp/T/.net/Linkedin Learning Courses Downloader/1q44lyso.kpt/Linkedin Learning Courses Downloader.dll`

Do I need another file?

[2021-05-31 11:11] ahmedayman4a commented on #7
Which platform are you on?

[2021-05-31 11:55] him1532 commented on #7
macOS v11.1

[2021-06-07 21:33] ridwan47 opened #8 "Some feature requests!!"
**Important**
#1 Allow Pause/Resume Support
#2 Allow Resume of unfinished
#3 Don't use [] Brackets in numbers. Video players doesn't play videos chronologically.
Just name it normally like: 01 Introduction.mp4 instead of [1] Introduction.mp4

**Wishful request**
#3 Allow only subtitle download (without video)
#4 Automatically download thumbnail of the course.
Not very important, would be very nice

[2021-06-08 09:06] ahmedayman4a commented on #7
I don't have a macos but i will see what i can do

[2021-06-08 09:15] ahmedayman4a commented on #8
I really like these features but I am quite busy currently. I will try to add some of these features when I have the time

[2021-06-08 18:33] ridwan47 commented on #8
Thanks for your consideration.

[2021-06-08 22:10] Jabe64 commented on #8
Hi!

Thanks a lot @ahmedayman4a for your software and @ridwan47 for your suggestions.

I totally agree with #3 and about it I will add that it will be great to detect the default name and use it.

For example if the folder is named by default "2. Name of the chapter", to be able to rename it automatically into "02 - Name of the chapter".

And for the videos inside this folder rename them : "02-01

[2021-06-08 22:14] ridwan47 commented on #8
You can use a great software called ReNamer by den4b to do this automatically when you have a lot of files to reaname. It saves a lot of time!

[2021-06-08 22:19] Jabe64 commented on #8
@ridwan47 Thanks a lot for the tip I will have a look at it.

[2021-06-09 09:05] ahmedayman4a commented on #8
Looks like feature number 3 is urgent so I will add it soon.
I have a question though,  which folder structure is better:
[code]
Or this
[code]
And why? Does it matter for the video player? Doesn't the video player go through the first folder then all its videos then the second folder. Or does it get all videos and sort them without regard for folder names?

[2021-06-09 09:27] Jabe64 commented on #8
Thanks for your fast answer. For my video player both structure work.
I rename my videos according to second folder structure or very close to it, I just don't put space between chapter number and video number to make it more compact "01-01 - Video 1".

The reason I rather like second folder structure is that if for some reason I send 1 video only to a friend or if I copy only one video of a chapt

[2021-06-09 09:57] ahmedayman4a commented on #8
I like your naming scheme. I will add it to the app.

[2021-06-09 11:25] ridwan47 commented on #8
I like the 1st version. Since all the chapters are inside folders there is no need for chapter chronology number with video files.

Let me show you how I rename my courses after downloading.

For folders

![For Folders](https://i.imgur.com/YO1G9D1.png)

And for files

![For Files](https://i.imgur.com/AcHQ78Z.png)

Notice in addition of removing brackets I also add '0' before each numbers because t

[2021-06-11 16:20] ahmedayman4a commented on #2
Any update?

[2021-06-18 10:46] Iain-Bell opened #9 "Feature Request - Time delay between video downloads"
Great program, been waiting for this.

1 small feature I would like to request is a time delay option between each video download.  I've heard the some training sites detect lots of downloads/multiple connections and ban/suspend users if detected (as they assume a ripper is being used).  I read Pluralsight is one of them and you need to pause the rippers for about 15 min per download to be sure yo

[2021-06-20 08:15] ahmedayman4a commented on #9
Maybe delay between video extractions then because the downloader doesn't use the user account only the extractor.

[2021-06-20 20:54] ahmedayman4a commented on #2
Issue closed due to inactivity. If you have any update I will reopen it.

[2021-06-20 20:54] #2 closed

[2021-06-28 07:59] Ledigh opened #10 "Video quality resolutions: 540p instead of 720p"
Good morning !

Thanks for the programme:
Clear description and instructions ;)
 …
Even though “video quality” is set to high (720p) the program still downloads (did I say “randomly”) 540p quality videos files… for example using this following link:
[advanced-drum-recording-session-with-josh-freese](https://www.linkedin.com/learning/advanced-drum-recording-session-with-josh-freese?u=76279468)
…res

[2021-07-04 13:51] ahmedayman4a commented on #10
### Looks like this only happens with certain courses. After investigating the issue here is what I found:

The api that my app and most of the other downloaders is the same linkedin learning one. Maybe the website accesses a different api function but the one I use is `learning-api/detailedcourses`.
When making a get request for this api with 720p it sometimes returns a 540p video download url fo

[2021-07-07 10:36] solomonsjoseph opened #11 "incomplete download"
I am very happy to use your work to download the courses. It was working fine for some days then later on it started showing the download is complete skipping many videos and courses. I tried to redownload and redo the process but it continues. I hope you see to this issue and come up with a solution that works.

Also, I was thinking if you could add the author name with the courses then it'll be

[2021-07-07 17:36] ahmedayman4a commented on #11
Can you give me an example of a course that causes this and upload the logs at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` here.
### As for enterpriseprofilehash :
Some LinkedIn learning organization accounts require a special header (`x-li-identity`) to authorize properly. The value of this header can be found in the JSON inside a code tag in the LinkedIn-learning website

[2021-07-14 12:34] nikorobos opened #12 "The setup file is nowhere"
I cannot find the setup file to open it. My antivirus is not blocking it or removing it. Thank you

[2021-07-14 12:36] #12 closed

[2021-07-14 14:57] ahmedayman4a commented on #12
Did you fix your problem?

[2021-09-06 08:23] ridwan47 opened #14 "No update?"
It's been a while since the last update? When's the new update coming?

[2021-09-17 16:49] thegr8awais opened #15 "what is default config format ?"
I am trying to run it on my mac. But i think by default it checks for some json config right?
Can you provide the structure?

[2021-09-17 17:14] #15 closed

[2021-09-19 18:50] solomonsjoseph opened #16 "Failed to Download"
I'm sending you the log file text here below. Checkout what's the issue!

---------------

2021-09-19 06:23:09.867 -07:00 [INF] Setting key value for icon in registry 2021-09-19 06:23:10.408 -07:00 [INF] Current exe path : C:/Users/username/AppData/Local/Linkedin-Learning-Courses-Downloader/app-1.1.0/Linkedin-Learning-Courses-Downloader.exe 2021-09-19 06:23:10.409 -07:00 [INF] Key value for icon i

[2021-09-30 14:00] Mulugieta opened #17 "it was a good program i downloaded courses , but now i got an error that says" Failed to extract course video. the token is probably invalid""

[2021-09-30 20:53] Mulugieta opened #18 "starting from 28th sept not working"
it was beautiful program but suddenly not properly validating tokens and stopped working.

[2021-10-06 11:47] Sujit007z opened #19 "Course Extraction Failed"
Unexpected Character Encountered Wile Parsing Value C.Path ", line 0, position 0

![image](https://user-images.githubusercontent.com/88311340/136196518-aa5b4ebb-7224-47d0-8548-b211472a1d5d.png)

[2021-10-20 20:43] ankithrv opened #20 "Not working in Windows 11."
I'm getting the following error. Please, help me out.
![2021-10-21](https://user-images.githubusercontent.com/83707897/138169277-82e5d3aa-009a-4a03-b446-d1dab8367ca5.png)

[2021-10-21 20:46] #20 closed

[2021-10-21 20:47] ankithrv commented on #20
Reinstalled, and now working fine on win 11

[2021-11-02 09:03] scgreenhalgh opened #21 "Bulk download from command line"
It doesn't seem that the command line version has had bulk or multiple course downloads implemented. This means this functionality won't work for Linux or macOS users. I have tried putting multiple courses both as command-line arguments and when prompted by the command line tool.

[2021-11-23 14:24] frempong00 opened #22 "Cant find the setup file"
i have download the code but i cant find the setup file. i am using windows

[2021-11-23 17:14] #22 closed

[2021-11-23 17:15] frempong00 commented on #22
This wasnt issue i found it and is working greate

[2021-12-22 10:53] MHDINGBI opened #23 "Downloading Issue"
When I try to download i get this issue "Object reference not set to an instance of an object"

What is the problem?

![Linkedin Error](https://user-images.githubusercontent.com/96524839/147080949-293eb096-53d0-40dc-a9d2-6cc4a9d71ae9.PNG)

[2021-12-23 13:06] ahmedayman4a commented on #16
This app can't download learning paths. You could enter the links of the courses in this learning path instead and they will be downloaded one after the other.

[2021-12-23 13:06] #16 closed

[2021-12-23 13:09] ahmedayman4a commented on #23
Can you upload the log files at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` here?

[2021-12-23 13:10] ahmedayman4a commented on #14
I know it has been a looooooooong time but i am working on a new update which should be finished soon.

[2021-12-23 23:01] MHDINGBI commented on #23
They are here

[log20211214.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/7771735/log20211214.txt)
[log20211215.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/7771736/log20211215.txt)
[log20211217.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/7771737/log20211217.txt)
[log20211222.txt](https://githu

[2021-12-23 23:03] MHDINGBI commented on #23
I will notice you that this is not permanent sometimes it can work.

[2021-12-24 09:52] ahmedayman4a commented on #23
I can't seem to reproduce the bug so I want to make sure it isn't a one time occurence first.
Can you try downloading the same courses that caused the issue today? If it still fails send me the latest log file.
Also make sure that the token is actually valid, see if you are logged into linkedin learning and you have access to the course then open the app and choose the browser you have linkedin-le

[2022-01-06 11:12] ahmedayman4a commented on #19
You are using an expired token. It should work if you use your latest valid token.

[2022-01-06 11:12] #19 closed

[2022-01-08 11:41] ahmedayman4a commented on #18
Make sure you have access to the course with the token you supplied.

[2022-01-08 11:41] #18 closed

[2022-01-08 11:41] ahmedayman4a commented on #17
Make sure you have access to the course with the token you supplied.

[2022-01-08 11:42] #11 closed

[2022-01-08 11:42] ahmedayman4a commented on #11
Closed due to inactivity

[2022-01-18 03:20] mahdisky commented on #23
i have this problem ,for any course
[log20220118.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/7885947/log20220118.txt)
[log20220118_001.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/7885948/log20220118_001.txt)

[2022-01-20 14:15] mahdisky opened #24 "[BUG] course is not download"
hii
course cant download
the application is exsit  after download click

[2022-01-24 03:22] makehillflat opened #25 "[BUG] Versions 1.1 and 1.2 Crashing on Cookie Import from Chrome"
**Describe the bug**
I'll just detail the issue with 1.1.0 for the moment. The same thing appears to be hapening with 2.0. The app crashes on importing cookies from Chrome. I don't have a problem importing from Firefox with 1.1.0.

**OS**
Windows 10 Pro 64 (19041.1415)

**Log File**
2022-01-24 13:09:55.822 +10:00 [INF] Setting key value for icon in registry
2022-01-24 13:09:55.848 +10:00 [INF] Cur

[2022-01-24 03:24] makehillflat opened #26 "Please Add Cookie Import from Chromium"
**Describe the solution you'd like**
All in the Subject line.

[2022-01-24 13:33] ahmedayman4a commented on #25
Firstly, glad you liked my app.
The issue you described is now fixed with this commit cbe77a1d23b964b47b6aaab0ce69d7bddc3d44dd. Thanks for reporting the bug. Seems that chrome changed its cookies db location in a recent update which broke the extractor.
Did you face any other issues with v2.0? Do you think it is ready for release?

[2022-01-24 13:39] ahmedayman4a commented on #24
You face the same issue as #23 right?

[2022-01-25 11:18] mahdisky commented on #24
yes

[2022-01-26 16:28] #9 closed

[2022-01-26 16:28] #14 closed

[2022-01-26 16:28] #25 closed

[2022-01-30 23:02] arv130kol opened #28 "Windows Installation Instructions Missing"
**Is your feature request related to a problem? Please describe.**
Unable to install this tool on Windows.

**Describe the solution you'd like**
I need a step-by-step process to install this tool on Windows.

**Describe alternatives you've considered**
I did download the windows rar file and extracted it. I got Setup.wxs file inside the directory. Now, how to use that file to perform the installat

[2022-01-31 12:50] AurastiX opened #29 "Token Failure"
Hello Ahmed,

as i was trying using your course downloader - im getting always the failure "failed to extrace a course video - the provided Token is probably invalid"

As tho im using it on windows and fully as your guide telling me im doint everything mentioned..

Do you have any ideas to that issue?

Thank you
AurastiX

[2022-01-31 14:19] ahmedayman4a commented on #28
There should be a .exe too in the rar file, isn't there?
![Setup rar screenshot](https://user-images.githubusercontent.com/55313946/151809750-c7b009b2-d84d-4116-862a-01c2a6343ba0.png)

[2022-01-31 14:24] ahmedayman4a commented on #29
What kind of LinkedIn Learning account do you have? LinkedIn premium? library account? organization account?

[2022-01-31 14:26] AurastiX commented on #29
I got an personal Account, do i need one of your mentioned accounts tho?

[2022-01-31 15:18] ahmedayman4a commented on #29
LinkedIn learning is only available to LinkedIn Premium subscribers unfortunately or if your library provides a linkedin learning account.

[2022-02-05 19:33] #29 closed, assigned to ahmedayman4a

[2022-02-05 22:20] AriaShishegaran opened #30 "Add ability to download a complete "Learning Path" by providing the path URL"
**Is your feature request related to a problem? Please describe.**
So I've been trying to download a complete path but had no success, you can guess the tedious task of finding each course's URL putting it inside a session of the downloader in terminal, opening a new session and enter another course.
**Describe the solution you'd like**
I would suggest creating a feature that enables the user to e

[2022-02-17 05:16] najeeb-anwari opened #31 "Resume and Pause Features"
Please add resume and pause capabilities.
When I redownload the failed course it downloads from beginning and replaces already downloaded files.
Appreciate your great work.
Thanks a lot.

[2022-02-17 12:09] pcpepik opened #32 "Standard command line interface (CLI)"
**Is your feature request related to a problem? Please describe.**
- This would solve #21 and similar issues and also allow for additional automation

**Describe the solution you'd like**
- Replace TUI with a standard command line interface [^1]

**Describe alternatives you've considered**
- TUI could be hidden under `--interactive` option and/or be the default when no argument is given

**Additio

[2022-02-17 20:03] ahmedayman4a commented on #32
I love it, will look into it.

[2022-02-21 00:22] plybb opened #33 "proxy setting"
**Is your feature request related to a problem? Please describe.**
when it's necessary using proxy to connect internet

**Describe the solution you'd like**
just add it in UI

**Describe alternatives you've considered**
or seting proxy in config

**Additional context**
nothing

[2022-02-21 15:05] FascinationSt opened #34 "Large exercise videos downloads fail"
When downloading a course with an exercise file over 2 GB, the download fails and the program generates error, "A fatal error occurred while downloading the course. Check the logs for more info".  The course is downloaded, and a file is downloaded, but not the complete exercise file.  For example, the course: https://www.linkedin.com/learning/premiere-pro-cc-2019-essential-training-the-basics-2/we

[2022-02-22 03:12] Jowi767 opened #35 "Nothing, i just thought i had a bug"

[2022-02-23 15:38] #35 closed, assigned to ahmedayman4a

[2022-03-05 22:47] rd0769 opened #36 "LEARNING PATH DOWNLOADER"
**Is your feature request related to a problem? Please describe.**
There is a learning path feature in linkedIN learning, which includes set of 2 or more courses, when you do all coursef them you are certified for that post e.g " AGILE PROJECT MANAGER".

**Describe the solution you'd like**
CAN GET CODE FROM HERE - https://github.com/lawrensylvan/linkedin-learning-courses-downloader

**Describe al

[2022-03-06 10:43] pcpepik commented on #34
Got the same error after the first ~2GB of the file were downloaded:

Course: https://www.linkedin.com/learning/photoshop-2020-essential-training-photography/
[code]

Course: https://www.linkedin.com/learning/time-lapse-video-nighttime
[code]

[2022-03-12 14:51] #10 closed

[2022-03-16 16:11] vxlkiria50 opened #37 "LinkedIn Learning page does not load (Banned)"
**Describe the bug**
I was about to download a course (i did not buy the courses, i got plus subscription) then when i was about to copy the course link suddenly the page did not charge it went blank. i tried to refresh the page several times but it did not worked. I don't know if it's the platform error, because I've tried my account on other platforms like brave and edge. The learning page does

[2022-03-16 17:31] ahmedayman4a commented on #37
So LinkedIn learning works on edge and brave but doesn't work on chrome correct?

[2022-03-16 18:48] vxlkiria50 commented on #37
no, it doesn't work on any of them if im logged in (currently it works if im in incognito mode without my account logged in). i thought it was just chrome. I am worried that I have been banned. I'm going to wait until tomorrow to see if linkedin learning works again
![image](https://user-images.githubusercontent.com/101525207/158664791-0c2d7cac-58ac-4377-8d81-b3f496a0ab7c.png)

[2022-03-17 03:24] vxlkiria50 commented on #37
ok btw it just was a bug. If you download a lot of books (+25) i can say that linkedin will get bugget. It works very well now after 12 hours
![image](https://user-images.githubusercontent.com/101525207/158730638-1c15118e-468d-4671-8edb-22d39a0f5318.png)

[2022-03-17 03:24] #37 closed, assigned to ahmedayman4a

[2022-03-17 09:45] ahmedayman4a commented on #37
That's great. Glad it works now.

[2022-03-17 10:52] Jowi767 opened #38 "Video compression"
Videos are so large in size,
is there a way to make files smaller in size before downloading to save internet quota?

[2022-03-17 13:43] ahmedayman4a commented on #38
Unfortunately, no.  Videos come from the LinkedIn server and can't be manipulated in any way unless they are downloaded. Your only option is to download the videos on a low quality.

[2022-03-17 13:43] #38 closed, assigned to ahmedayman4a

[2022-03-18 11:16] Jowi767 opened #39 "Subtitle downloader"
Please, Can you add a way to only download subtitles?
I have old courses without subtitles, the only way to have them is to download the whole courses again!!

thanks in advance for the great tool.

[2022-03-19 08:25] Jowi767 commented on #34
Don't download exercise files from the program, download them from the linkedin learning page.

[2022-03-21 19:43] #28 closed, assigned to ahmedayman4a

[2022-03-22 22:12] pcpepik commented on #34
@Jowi767 that is the current workaround but this does not fix the issue with the downloader

[2022-03-22 22:14] pcpepik commented on #36
I believe this is a duplicate of #30

[2022-03-23 22:07] ahmedayman4a commented on #34
Unfortunately, this is the downside of the downloader class I currently use. Fixing would mean using a different package and rewiting alot of the downloader code.

[2022-03-24 09:36] #36 closed, assigned to ahmedayman4a

[2022-03-25 16:38] sandarbhasthana opened #40 "Downloading course for organizational users"
I'm using LinkedIn Learning from my Sunnyvale Public Library Card and although the app is able to extract the token but unable to download the course citing wrong login credentials.

I understand as the application checks the login page at URL; "linkedin.com/learning" but for organizations, it comes under

**Login > Sign in with your library card > "Textbox to enter the library ID" > Username : Pa

[2022-03-25 20:12] ahmedayman4a commented on #40
The app works with library accounts. I have tested it myself. Does this issue happen with all courses? If it does, could you try getting the token manually like this :

* **Firefox**

1. Press `Shift+F9` on your keyboard **OR** right click anywhere on the LinkedIn Learning website , choose "Inspect Element" and click storage.
2. Look for the word "li_at" in the column "Name". Copy the value and pa

[2022-03-26 14:46] sandarbhasthana commented on #40
Hi,

I've was trying it through Chrome and the Cookies section was empty even for logged in user but on Firefox I was able to get the token and download the course.

Thanks a lot!!!

[2022-03-26 14:46] #40 closed, assigned to ahmedayman4a

[2022-04-03 18:38] nixsee commented on #9
Thanks for adding this. How do we use the delay in the linux command line? Also, if it could be randomized as suggested, that would be even better. I'd like to just leave this as a batch job on my vps server, which can download an entire course in 1 minute right now...

[2022-04-03 18:39] nixsee commented on #21
I also think that this would also be quite useful.

[2022-04-03 18:41] nixsee commented on #32
This would be fantastic. It would be even better if you could add multiple course urls either separated by spaces or, even better, on separate lines in some sort of text/config file.

Also if the delay could be set via the CLI as well, that would be helpful.

[2022-04-05 09:28] franzgeneroso1998 opened #41 "[BUG] Failed to extract a video course."
**Describe the bug**
Failed to extract a video course. The provided token is probably invalid.

**Operating System**
 Microsoft Windows 11 Pro

**Log File**
[log.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/8416801/log.txt)

[2022-04-05 12:11] ahmedayman4a commented on #41
The log you provided is not from the app. Please upload the logs at `%localappdata%l\Linkedin-Learning-Courses-Downloader\app-1.2.0\logs`
But most of the time this error happens because the token you provided doesn't have full access to the course. Do you have premium subscription on your LinkedIn account?

[2022-04-05 21:05] ahmedayman4a commented on #32
I currently busy but I will start working on it soon

[2022-04-06 01:54] lataifeh commented on #32
Ahmed .. I don’t have any issue or complaints about the app. To the
contrary .. this is just to thank you for such wonderful effort .. am very
much grateful.

On Wed, Apr 6, 2022 at 01:05 Ahmed Ayman ***@***.***> wrote:

--
Moh. Lataifeh

[2022-04-15 16:05] ridwan47 commented on #14
Thanks 😊

[2022-04-26 23:59] G2boy opened #42 "[BUG] Program language appears gibberish"
Hi,

Good Morning.

I hope everyone here is Healthy,
and I am so sorry my english is bad
please help my problem in below picture, that language in app is complicated

![Capture 1](https://user-images.githubusercontent.com/104470989/165410900-585eae1a-c2ab-4c5e-b788-2ced0cc6a4bf.PNG)

![Fonts](https://user-images.githubusercontent.com/104470989/165412275-9ff43e6b-2b65-4475-88e0-18387536136d.png)

*

[2022-04-27 00:23] lataifeh commented on #42
Ahmed can you similar app for Netflix ?

On Wed, Apr 27, 2022 at 03:59 G2boy ***@***.***> wrote:

--
Moh. Lataifeh

[2022-04-27 15:15] ahmedayman4a commented on #42
@G2boy Can you try uninstalling the quicksand font from your computer and rerunning the app. Don't worry, you can reinstall it easily.
A font file could also be corrupt. Could you try uninstalling the app then redownloading the app from [here](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/releases) and installing it.

[2022-04-27 15:18] ahmedayman4a commented on #42
@lataifeh Unfortunately, no. Netflix videos are protected by drm encryption which prevents downloading them. Experienced crackers are able to crack the drm which is why you can find netflix's videos on torrent sites. These people cracked the drm, downloaded all the videos they want and uploaded it.

[2022-04-27 22:11] G2boy commented on #42
Hi @ahmedayman4a

Good Morning

Thank very much you for your help

![image](https://user-images.githubusercontent.com/104470989/165639312-7ad1d7f4-b981-41ab-81ff-de1e03b00129.png)

[2022-04-27 22:11] #42 closed, assigned to ahmedayman4a

[2022-04-28 00:46] ahmedayman4a commented on #42
Do you know what exactly fixed the issue? Reinstalling? Or removing the font from Windows?

[2022-04-28 03:25] uorgan72 opened #43 "[BUG]The App Crahsed after inputing all parameters & click "Download"."
**Describe the bug**
After inputting all parameters, click "Download", the app crashed.
**Operating System**
Windows 10 Enterprice 64B  19044.1645

**Log File**
Upload the latest log file present at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` here.
version 1.2
[log20220428.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/8580188/log20220428.t

[2022-04-28 12:54] G2boy commented on #42
i do removing current installed font and replace to new one... then App is fixed automaticaly

[2022-05-16 15:38] Shadabab opened #44 "[BUG] Error: Value cannot be null. Parameter name: source."
**Describe the bug**
after inserting account Token and course URL from LinkedIn and pressing download, I get the following Error:
"Value cannot be Null Error -Parameter name: source "

**Operating System**
Windows 10

**Log File**
Upload the latest log file present at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` here.

<img width="960" alt="Downloader_Bug" src="https://user

[2022-05-16 16:55] ahmedayman4a commented on #44
You supplied a learning path url instead of a course url. Please get the links of the courses in this learning path and insert each one in its own line.
For example,
Instead of entering this in the <Courses Url> field:
https://www.linkedin.com/learning/paths/master-microsoft-power-bi-15399694
Enter this :
https://www.linkedin.com/learning/power-bi-data-modeling-with-dax
https://www.linkedin.com/le

[2022-05-16 16:55] #44 closed, assigned to ahmedayman4a

[2022-05-16 19:51] Shadabab commented on #44
Dear,

For some reason after trying to download, I am getting blank page on LinkedIn Learning page.

I can't see any content why? Was I blocked? 😔

I tried deleting cookies, signing out and in, nothing helped.

Could you help

[2022-05-17 11:12] ahmedayman4a commented on #44
Refer to issue #37. It seems that after downloading a lot of stuff from LinkedIn at once, it bugs out. Try to download each course on its own next time with some time between them, or use the delay between course extractions option.

[2022-05-17 13:38] Shadabab commented on #44
Hi,

Thank you for your reply

On Tue, May 17, 2022, 2:12 PM Ahmed Ayman ***@***.***> wrote:

[2022-05-25 10:44] roykamsi opened #45 "Non english words in version 1.2 [BUG]"
The words in the 1.2 version of the software aren't in English and the input as well. Hence the software is unusable, but the 1.1 version seems more stable and I was able to download the whole course. The software you made is fantastic Ahmed!

![image](https://user-images.githubusercontent.com/59699671/170244494-2362b8ac-6109-4101-a05e-433f8515eeb0.png)

**Windows Version**
Windows 10 Pro 20H2

**

[2022-05-25 15:43] ahmedayman4a commented on #45
Duplicate of #42. Here is my response to this issue:
Can you try uninstalling the quicksand font from your computer and rerunning the app. Don't worry, you can reinstall it easily.
A font file could also be corrupt. Could you try uninstalling the app then redownloading the app from [here](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/releases) and installing it.

[2022-05-28 21:33] ghost opened #46 "Banned"
Not an issue or request, but

Are bans perma-ban or temporary?

[2022-05-29 09:58] ahmedayman4a commented on #46
It seems to be temporary. Refer to issue #37

[2022-05-29 09:58] #46 closed, assigned to nobody

[2022-05-29 10:00] ahmedayman4a commented on #37
To prevent this issue from happening, don't download a lot of courses at the same time and use the delay video extractions option,

[2022-06-03 11:29] binbohrawa commented on #41
@ahmedayman4a I ran into the same problem, I'm using MS Win11Pro as well, here's the log file
[log20220603.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/8831956/log20220603.txt)

[2022-06-04 14:02] ahmedayman4a commented on #41
It seems that the problem is that the extractor can't access one or more videos of this course.

- Can you make sure that you can access the videos on linkedin-learning with this account?
- How did you extract the authentication token? With the extract token button or manually?
- What kind of account do you have? Do you have an organization account like a library account or a normal private accoun

[2022-06-04 14:50] binbohrawa commented on #41
I have private linkedin learning premium account,
I can access videos via the browser with no problem
I did both ways for token extraction and I compare them both of them are the same.

[2022-06-04 16:38] ahmedayman4a commented on #41
Does this issue happen at the very start of the extraction process or later?

[2022-06-04 16:52] ahmedayman4a commented on #41
Try running this app instead. It should have much more logging to be able to understand the cause of this issue better since I can't seem to reproduce this issue on my pc.

[Linkedin Learning Courses Downloader - v1.3-alpha.1.zip](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/8838284/Linkedin.Learning.Courses.Downloader.-.v1.3-alpha.1.zip)

[2022-06-05 02:57] franzgeneroso1998 commented on #41
Thanks for your help sir, I really appreciate your great work! God bless
you!

On Sun, Jun 5, 2022 at 12:52 AM Ahmed Ayman ***@***.***>
wrote:

[2022-06-05 10:31] binbohrawa commented on #41
Unfortunately this alpha version didn't run at all on my PC, I'm using MS Win11Pro..

[2022-06-07 02:07] uorgan72 opened #47 "The App Crahsed after inputing all parameters & click "Download"."
After inputting all parameters in App, click "Download", the app crashed.

Windows 10 Enterprice 64B 19044.1645

[log20220428.txt](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/files/8849517/log20220428.txt)

[2022-06-10 00:41] CombTech commented on #45
In the meantime for V1.2 you could always use the image on the code page for guidance. Thats what I did and all worked well
![Linkedin-Learning-Downloader-Screenshot](https://user-images.githubusercontent.com/75885655/172967831-6719d5fb-d1d1-4c14-b4a5-e884c0ffd39f.png)
.

[2022-06-10 08:05] roykamsi commented on #45
The problem was the font @ahmedayman4a pointed at (Quicksand), thanks! Without that, I couldn't even type because the font itself was 'corrupted' as @ahmedayman4a said. So for example if I inserted an 'abc' sequence it could have became 'k%à' (so non-sense).

[2022-06-10 08:05] #45 closed, assigned to ahmedayman4a

[2022-06-10 08:10] roykamsi commented on #47
For app crashes try checking also the Event Viewer in Windows 10. It also works for other programs too
[Here's a guide](https://www.dummies.com/article/technology/computers/operating-systems/windows/windows-10/how-to-use-event-viewer-in-windows-10-140899/)

[2022-06-17 09:57] uorgan72 commented on #47
I noticed there are SPP Event ID 16394/1003/16384 reported but don't know how to fix it. I used this APP successfully before and don't know what's wrong happened now.

[2022-06-21 15:36] hamzahnn77 opened #48 "Course Extraction Failed"
Value cannot be null.
Parameter name: source

[2022-06-23 14:23] HourSokaonKH opened #49 "Can't read font interface"
Got this strange font when loaded the application
![Screenshot 2022-06-23 212056](https://user-images.githubusercontent.com/67731386/175322347-7785b41f-c18d-48fe-b09d-c189f1b34708.jpg)

[2022-06-24 07:06] AlTahish commented on #41
The same problem with win10
I tried all options but without success

The Problem appears with some courses only

One of these courses is:
https://www.linkedin.com/learning/agile-software-development-scrum-for-developers

This is the Error from log file:
2022-06-24 06:58:38.987 -07:00 [INF] Validating Input
2022-06-24 06:58:39.498 -07:00 [INF] Input Valid
2022-06-24 06:58:57.834 -07:00 [ERR] Course

[2022-06-24 09:35] allwebsync commented on #48
just add your download folder location
![Screenshot](https://user-images.githubusercontent.com/98006656/175507849-021a8343-a28f-4bc4-95a3-62fce59052bf.png)

[2022-06-30 11:45] mohamedeltaher opened #50 "only introductio file downloaded"
**only introduction file downloaded **
when i used v1.2 , and try to download a course , its download but just introduction file without the entire course

**Operating System**
 [e.g. Windows 10]

**Log File**
Upload the latest log file present at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` here.

[2022-07-02 01:31] aYip9394 opened #51 "[BUG] Video Name too long"
**Describe the bug**
If the video title is too long, it will not save the video and stop downloading at that video. Here is the course that I tried to download https://www.linkedin.com/learning/comptia-security-plus-sy0-601-cert-prep-4-identity-and-access-management-design-and-implementation/identification-authentication-authorization-and-accounting?autoplay=true&contextUrn=urn%3Ali%3AlyndaLearnin

[2022-07-15 18:29] danilotomaccio commented on #41
Same problem here on MacOS Monterey (and I have a Premium account)

[2022-07-18 13:18] danilotomaccio commented on #41
Doing some tests, it seems that the problem is posed on some videos of the course in a random way. However, it seems that making a second attempt on the videos that the first time are not accessible solves the problem so the problem can be solved quickly: during extraction, if a video is not accessible (or does not contain the downloadUrl) just repeat the request.

Here ([line 127 of the Extractor

[2022-08-02 06:00] mukuha opened #52 "Login Token"
How can I get the token cookie if don't have an account?

[2022-08-02 17:40] ghost opened #53 "Software needs to show useful errors, allow retrying on failure, and backup the extractions seperately"
I did some downloading, where the extraction worked fine, but the downloading failed. Frustratingly, the software doesn't seem to provide any actual details of why the downloading failed, nor does it allow me to retry, wasting all of the prior effort of extraction.

Enhancement suggestions:

- Show useful error messages
- Allow retrying
- Backup the extraction (or allow me to do it seperately) so

[2022-08-02 19:42] ahmedayman4a commented on #52
No, unfortunately you can't. You need a premium linkedin account. But if you live in USA, many public libraries offer free linkedin learning accounts with their online signup.

[2022-08-02 19:42] #52 closed, assigned to nobody

[2022-08-02 19:50] ahmedayman4a commented on #53
These are really good recommendations but right now I am  a bit busy, once I am free I will start working on an update with some requested features.
Feel free to submit a PR if you interested as well,

ps. You can find the app logs to understand better why an error happened at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.2.0\logs`

[2022-08-02 22:52] ghost commented on #53
Thanks for the reply, that's good to hear. In order, I think allowing me to retry would be the most useful thing.

Sadly I'm not a programmer so cannot contribute any code, but I'm happy to slip a donation your way.

Next time the download fails, I'll look in the logs, thanks. Might be worth popping that on the readme.

Thanks again! :)

[2022-08-03 07:47] mukuha commented on #52
I found a token. The most recent app don't use english? the user interface? how can I change it to english?

[2022-08-03 10:04] ahmedayman4a commented on #52
Issue mentioned at #42. Here is my response to this issue:
Can you try uninstalling the quicksand font from your computer and rerunning the app. Don't worry, you can reinstall it easily.
A font file could also be corrupt. Could you try uninstalling the app then redownloading the app from [here](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/releases) and installing it.

[2022-08-03 10:04] ahmedayman4a commented on #49
Duplicate of #42. Here is my response to this issue:
Can you try uninstalling the quicksand font from your computer and rerunning the app. Don't worry, you can reinstall it easily.
A font file could also be corrupt. Could you try uninstalling the app then redownloading the app from [here](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/releases) and installing it.

[2022-08-03 11:37] mukuha commented on #52
Thank you! Uninstalling and reinstalling quicksand worked.

[2022-08-12 14:11] ghost commented on #34
Same here, also experiencing errors once the download reaches 2GB

The solution to me to get around what developer @ahmedayman4a said, is to behave differently. If I'm downloading 20 courses, and one with files larger than 2GB is the 2nd course, then the download fails and all other 18 courses need to be re-extracted.

Some sort of error that allows me to skip without halting the rest of the opera

[2022-08-12 22:45] ahmedayman4a commented on #34
I am adding this to the new update that I am working on

[2022-08-12 22:49] ghost commented on #34
Sounds great, I've also had errors for courses that are just bugged out. It might download the first and second folder, create the third, but not download anything to it, even though the course may have five folders worth of content. The logs aren't too helpful for me to understand as a noob, but I'd be happy if I could just skip the course (providing the dialog tells me what course has the proble

[2022-08-13 04:17] nivishsharma opened #55 "[BUG] Gibberish font in the UI - Fixed by deleting Quicksand font family as per suggestion"
Bug Description
The UI shows gibberish text. The text is not from any language as far as I can tell. See the screenshot for reference.

Operating System
Windows 10
![image](https://user-images.githubusercontent.com/33553269/184468087-7ca59683-cf35-4874-b82f-42900602aa9f.png)

[2022-08-13 04:42] nivishsharma commented on #55
Fixed by deleting Quicksand font family as per suggestion. Developer can delete the issue as this issue is pointless and a duplicate of #49

[2022-08-13 11:15] #55 closed, assigned to ahmedayman4a

[2022-08-13 11:17] ahmedayman4a commented on #51
Will be fixed with v1.3

[2022-08-13 11:19] ahmedayman4a commented on #51
For now, download the courses to a shorter path, like for example D:\MyCourses

[2022-08-13 11:20] #49 closed, assigned to nobody

[2022-08-13 11:22] ahmedayman4a commented on #34
Wow my thanks, I really appreciate it.
As for your bugs, make a new issue and upload your log file

[2022-08-31 16:24] YisroelTech commented on #41
FYI, I tried this same courses as @binbohrawa & @AlTahish, and they extracted (and started downloading) just fine.

[2022-09-04 19:57] Yabaiz opened #56 "English Version"
Hi Ahmed,

I just wanted to request if you could only change linkedin downloader language to English. I'll really appreciate that. Thanks

Kind regards,
Yabaiz

[2022-09-04 22:09] ahmedayman4a commented on #56
Duplicate of #42. Here is my response to this issue:
Can you try uninstalling the quicksand font from your computer and rerunning the app. Don't worry, you can reinstall it easily.
A font file could also be corrupt. Could you try uninstalling the app then redownloading the app from [here](https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/releases) and installing it.

[2022-09-05 06:39] Yabaiz commented on #56
Hi Ahmed,

I have tried. Still, it is giving me a different language.

Here's the screenshot:
[image: image.png]

Kind regards,
Yabaiz

On Mon, Sep 5, 2022 at 3:09 AM Ahmed Ayman ***@***.***> wrote:

[2022-09-05 11:03] ahmedayman4a commented on #56
The screenshot isn't shown. Can you upload it using github instead of email?

[2022-09-05 14:10] Yabaiz commented on #56
Hi Ahmed,

Here's the screenshot.

<img width="1152" alt="Untitled" src="https://user-images.githubusercontent.com/56391276/188468398-8fa9148f-d73f-4aa5-9cbe-cfa1072a5be4.png">

[2022-09-05 17:35] Yabaiz commented on #56
Hi Ahmed,

I have uploaded the screenshot on github.

Here's the link:
https://github.com/ahmedayman4a/Linkedin-Learning-Courses-Downloader/issues/56#issuecomment-1236852603

Regards,
Yabaiz

On Mon, Sep 5, 2022 at 4:03 PM Ahmed Ayman ***@***.***> wrote:

[2022-09-15 09:39] grgl-msft opened #57 "[Please remove this issue/feature request]"
Please remove [wrong account].

[2022-09-15 09:42] #57 closed

[2022-09-15 09:42] grzglo opened #58 "Show list of extracted video to choose what to download"
Would like to have option to download specified videos from course. This could be done after the extraction process, e.g. as a multiple choice list, where the user could select none, some or all videos. Default option should be 'download all' and 'don't show selection window'.

[2022-09-15 09:46] grzglo commented on #17
Sign-in to LL using supported browser and import access token. If automatic import doesn't work, you can open **Developer tools** in your browser, go to **Application** > **Cookies**, then copy value from **li_at** and paste as plain-text in downloader.

[2022-09-15 12:52] ahmedayman4a commented on #58
Okay, I will look into it.

[2022-09-15 18:40] grzglo commented on #58
👍

[2022-09-25 04:04] aryamo commented on #51
https://www.linkedin.com/learning/building-an-iso-27001-compliant-cybersecurity-program-the-annex-a-controls?u=95230681

this course doesn't work even in C:\

[2022-09-28 19:38] Yasir-Khan22 commented on #48
[code]
@ahmedayman4a

At First, I was facing this issue. But then I changed download folder location from F to C drive and also video quality from 720 to 540. Then it worked for me and downloaded LinkedIn courses smoothly.

Yeah. It doesn't work for the first time.

[2022-09-29 17:37] Kavaeric opened #59 "[BUG] TargetInvocationException at end of course download"
Hi, just went and used it for the first time to download a course.

Right at the end of the course the tool throws a "fatal error". I'm not sure how much of a bug it is since inspecting the download seems to have shown that the videos and the exercise files are intact and work properly. I believe it was in the process of downloading the course exercise files, so maybe it missed something in there.

[2022-10-11 07:53] lataifeh commented on #42
Many thanks ahmed, well noted, and yes DRM is a pain in the arse .. I
appreciate what you are doing.

On Wed, Apr 27, 2022 at 19:18 Ahmed Ayman ***@***.***> wrote:

--
Moh. Lataifeh

[2022-10-14 09:38] KarlG1965 opened #60 "Disable automatic subtitle download in Linux"
**Is your feature request related to a problem? Please describe.**
I'm a linux user. I see in the Windows version, it's possible to select whether the subtitles are
downloaded or not.

Is this also possible in the linux version, maybe an extra field in Config.json?

**Describe the solution you'd like**
I would like the option to disable subtitle downloading in the linux version.

**Describe altern

[2022-10-14 10:39] ahmedayman4a commented on #60
Starting from v1.3 you can customize the download using command line arguments 13952b41b54e70cb126b56e5a10aed9a2933dbdb

[2022-10-20 08:37] sruthi-kurup opened #61 ""li_at" tag is missing in cookies"
**Describe the bug**
Hi @ahmedayman4a ,

I  had tried your exe file to download a course https://www.linkedin.com/learning/api-testing-foundations from linkedIn. But i didnt found the "li_at" tag to copy to the token cookie field in the application. Please refer the image of cookies, below for additional information

Please help me to download the course from linkedIn.

**Operating System**
Window

[2022-10-20 20:54] ahmedayman4a commented on #61
You need to log into your linkedin learning account and you must have access to the course

[2022-10-23 23:57] ahmedasal opened #62 "Can't download"

[2022-10-24 00:01] #62 closed, assigned to ahmedayman4a

[2022-10-25 05:54] ali19833 opened #63 "language of the GUI unreadable"
**Describe the bug**
the lanaguage of the GUI is unreadable

**Operating System**
WIn 8

**Log File**
dont know where it [is]
![Bug_LinkedIn](https://user-images.githubusercontent.com/34694997/197693670-7ced8371-8513-482d-94cf-f97a9f733f25.JPG)

[2022-10-25 21:37] tomsegura2 commented on #63
I have this same issue.

[2022-11-03 10:01] ali19833 commented on #63
I guess it is a Win 10 problem. On my win 11 operating system the gui shows no defects

[2022-11-14 10:42] axi92 opened #64 "[BUG] No usable version of libssl was found"
**Describe the bug**
Start programm:
[code]
Ubuntu 22 uses:
OpenSSL 3.0.2 15 Mar 2022 (Library: OpenSSL 3.0.2 15 Mar 2022)

**Operating System**
[code]

**Log File**
Upload the latest log file present at `%localappdata%\Linkedin-Learning-Courses-Downloader\app-1.1.0\logs` here.
No logs generated.

[2022-11-14 12:58] fastmarketo opened #65 "[BUG] VAalue cannot be null"
![image](https://user-images.githubusercontent.com/6827222/201666120-4ac88575-00a9-4c6e-827a-aef44413efa6.png)

[2022-11-14 13:26] #65 closed, assigned to ahmedayman4a

[2022-11-24 20:42] MichaelA2014 opened #66 "app disappears after I fill in all the information and click download"
The app disappears after  Ifill all the information such as cookie, save path and url of the video. Click download and app disappears.
I am running windows 7 x64.

[2022-11-25 19:36] hamechiz opened #67 "Problem downloading"
Hello

I want to download the subtitles only
I just tick the subtitles, but it also downloads the movie

Thanks

[2022-11-30 17:45] hamechiz commented on #67
Hello

I wanted to download a file, it downloaded from around 88 to 66 and then the download stopped and did not give an error.

I downloaded for the second time and suddenly the download window closed

And for the third time, the download is finished

please check it

I have a suggestion

Please leave an option to download from the continuation of the downloaded file or download from the beginnin